body {
  text-align: center;
  background-color: grey;
  /*float: center;*/
}
/**/
button {
  padding: 10px;
  border-radius: 5px;
}
input {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.item {
  margin: 20px;
  padding: 20px;
  background-color: teal;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
